[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
opencv-contrib-python = "*"
numpy = "*"
pytesseract = "*"
jupyter = "*"
bs4 = "*"
requests = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
